{% extends 'base.html.twig' %}

{% block body %}
<h1>Activez votre compte</h1>
<p>Bonjour {{ firstName }}</p>

<p> Votre inscription sur le site est à valider en cliquant sur le lien suivant: </p>
<p> <a href="{{ url }}"> Cliquez ici</a></p>
<p> Ce lien expiera dans 1 heures</p>
{% endblock %}